.footer-container {
    display: flex;
    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        .logo {
            display: flex;
            align-items: center;
            h4 {
                margin: 8px;
            }
        }
        .desc {
            margin: 20px 0px;
        }
        .sm-container {
            display: flex;
            .sm-icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }
        }
    }
    .center {
        flex: 1;
        padding: 20px;
        h4 {
            margin-bottom: 30px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                margin-bottom: 10px;
            }
        }
    }
    .right {
        flex: 1;
        padding: 20px;
        h4 {
            margin-bottom: 30px;
            .contact {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
            }
        }
    }
}
@media only screen and (max-width:500px) {
    .footer-container {
        flex-direction: column;
    }
}