.signin-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
        ),
        url("https://smhttp-ssl-64590.nexcesscdn.net/media/magpleasure/mpblog/list_thumbnail_file/f/e/cache/1/119bdf99710d9a86013f24c82ab9b2da/fe4715864a082b34f74d1ccf84568830.jpg")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiSvgIcon-root {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .signin-wrapper {
        width: 25%;
        padding: 20px;
        background-color: white;
        h4 {
            font-size: 24px;
            font-weight: 300;
        }
        form {
            display: flex;
            flex-direction: column;
            input {
                flex: 1;
                min-width: 40%;
                margin: 10px 0;
                padding: 10px;
            }
            button {
                width: 40%;
                border: none;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                cursor: pointer;
                margin-bottom: 10px
            }
            a {
                margin: 5px 0px;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
@media only screen and (max-width:500px) {
    .signin-wrapper {
        width: 80% !important;
        form {
            input {
                border-top: solid 1px black;
            }
        }
    }
}